GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile
MONGODB_URL=mongodb+srv://admin:admin1234@cluster0.zr9sybl.mongodb.net/?appName=Cluster0
MONGODB_DB=code_review
GITHUB_TOKEN=
